body {
	font-size: 100%;
	margin:0px;
}

#global{
	background:#E8E9E9;
}

/* ---------------------Elements du bandeau du haut---------------------- */
#bandeau{/* propriétés du bandeau bleu du haut de la page  */
	background:#1C6FC1;
	position:sticky;
    top: 0;
    left: 0;
	width: 100%;
} 

#logo {/* propriétés du logo présent en haut de page */
    margin-left: 45%;
    width: 178px;
    height: 100px;
	padding: 0;
}

#topMenu{
	list-style-type : none;
	max-width : 1200px;
	background-color : #1C6FC1;
    padding: 0;
	overflow: hidden;
	margin : 0 auto 0 auto;
	border-left: 2px solid #1961a8;
	font-family: Arial, Helvetica, sans-serif;
}

#topMenu > li {
	float : left;
	padding-left : 25 px;
	display: inline;
	border-bottom: 2px solid #1961a8;
	border-right: 2px solid #1961a8;
}

#topMenu > li > a{
	display: block;
    color: white;
    padding: 14px 2em;
    text-decoration: none;
}

#topMenu > li > a:hover{
	background-color:#43B2DC;  
}

/* --------------------------Elements du menu de droite------------------------------- */
#menuDroite{
	max-width: 1200px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

#navDroite {
	position: sticky;
	float: right;
	width: 30%;
	background: #334C64;
	overflow: hidden;
}

#menu {
	list-style-type : none;
	float:left;	
	padding:0;
	margin: 0 0 0 0; 
	border-left: 2px solid #273a4c;
	border-right: 2px solid #273a4c;
	border-bottom: 2px solid #273a4c;
}

#menu > li > a{	
	display: block;
    color: white;
    text-align: center;
    padding: 1em 12.2em 1em 1em;
    text-decoration: none;
	border-top: 2px solid #273a4c;
}

#menu > li > a:hover
{
	background-color:#3C839E;
}

.anchor{
  display: block;
  height: 125px; /*same height as header*/
  margin-top: -125px; /*same height as header*/
  visibility: hidden;
}

/* -------------------Elements de la partie centrale de la page, celle contenant l'article---------------- */
#fondPage{
	max-width: 1200px;
	margin : 0 auto 0 auto;
	background:#334C64;
}

#zoneTexte{
	display: inline-block;
	width: 70%;
	background : #FFFFFF;
}

.article{
	margin : 25px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	color:#1B1B1B;
}

h1 {
	font-size: 2.1em;
	padding-bottom : 5vh;
	text-align:center;
	margin : 25px;
	font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------Pied de la Page-------------------------------------------- */
#piedDePage{
	max-width: 1200px;
	min-height:100px;
	margin : 0 auto 0 auto;
	background:#334C64;
}

#lienPiedDePage {
margin : auto auto;
}

#lienPiedDePage>li{
	float : left;
	padding:25px;
	display: inline;
	margin : 0 0 0 0;
}

#lienPiedDePage>li>a{
	display: block;
    color: white;
    text-align: center;
    padding: 1em 0.5em;
    text-decoration: none;
	margin : 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------PAGE D'ACCUEIL----------------------------- */
#centreAccueil {/* permet de centrer tous les éléments de la page d'accueil */
	text-align:center;
}

#texteAccueil {/* Propriétés du texte présent sur la page d'accueil */
	font-size : 150%;
	font-family:arial, sans-serif;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5vh;
}

.image {/* arrangement des icones sur la page d'accueil */
	display:inline-block;
	padding-left : 3vh;
	padding-right : 3vh;	
}

.image img {
/* Transition quand on passe le curseur sur l'image, celle-ci grossit en 0.6 secondes */
	-webkit-transition: all 0.6s ease; /* Safari et Chrome */
	-moz-transition: all 0.6s ease; /* Firefox */
	-ms-transition: all 0.6s ease; /* Internet Explorer 9 */
	-o-transition: all 0.6s ease; /* Opera */
	transition: all 0.6s ease;
}

.image:hover img {
/* Permet de grossir l'image de 25% */
	-webkit-transform:scale(1.25); /* Safari et Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* Internet Explorer 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
}

#logoIUT{/*propriétés du logo de l'iut de la page d'accueil*/  
	text-align : center;
	padding-top: 10vh;
	max-width : 800px;
	margin-right : auto;
	margin-left : auto;
}

#cliquezIci{/* texte indicatif de la page d'accueil*/
	padding-top : 2vh;
	font-size: 70%;
	font-family : arial;
	color : Silver;
}
/*------------------------FIN PAGE D'ACCUEIL----------------------------------------*/
/* images  et video sur les pages du site*/
.imagePage{
	height:100px;
	width:100px;
	float:left;
	padding:10px;
}

#video{
	width:470px;
	height:264px;
	margin-left:25px;
}

.imageMoyennePage{
	height:150px;
	width:150px;
	float:left;
	padding:15px;
}

.imagePageMenu{
	padding-top:15px;
	margin:0;
	text-align:center;
}

/* tableau */
.tableau, .tableau td, .tableau th {
    border: solid BLACK;
    border-width: 1px 1px 1px 1px;
    padding: 6px 8px;
    text-align: left;
    border-collapse : collapse;
}
 
#zoneTableau{
    padding-left : 25px;
    padding-bottom : 2.5vh;
}

/* Le menu se cacche pour permettre une meilleure lisibilité des articles sur des petits écrans */
@media screen and (max-width: 830px) {
  #navDroite {
	  visibility:hidden;
  }
  #menuDroite{
	  visibility: hidden;
  }
  #menu {
	  visibility:hidden;
  }
  #menu>li>a{
	      padding: 0;
  }
  #zoneTexte {
	  width:100%
  }
  #fondPage {
	  background : #E8E9E9;
  }
  #video{
	  visibility:hidden;
	  width:0;
	  height:0;
  }
}